/* general */
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
html, body{
    background-color: #eecbd8;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* footer*/
footer{
    background-color: #b8a1db;
    justify-content: space-evenly;
    padding: 0.5em;
}
.contenedorFooter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.item{
    display: flex;
    align-items: center;
}
.divItem{
    margin-right:10px;
}
.pItem{
    text-align:center;
    font-family: "Inter", sans-serif;
    text-align: right;
}
.imagenItem{
    width:2em;
    height:2em;

}
.direccion{
    text-align:center;
    font-size:1em;
    margin-top:0.5em;
}


/* header */
header{
    background-color: #b8a1db;
    display: flex;
    width: 100%;
}
.logotipo{
    display: flex;
    width: 20%;
    align-items: center;
    font-family: "Gluten", cursive;
    font-size: 2.5vw;
}
.logo{
    width: 7vw;
}
.contenedorMenu{
    width: 80%;
    display: flex; 
}
nav{
    width: 100%;
    height: 100%;
}
.ulHeader{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    list-style: none;
}
.liHeader{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Gluten", cursive;
    font-size: 2vw;
    padding: 0.5vw;
    width: 18%;
    margin: 0.5vw;
    color: black;
    flex-grow: 1;
}
a {
    color: inherit;
}
.eleccionMenu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Gluten", cursive;
    font-size: 2vw;
    padding: 0.5vw;
    width: 18%;
    margin: 0.5vw;
    color: rgb(255, 255, 255);
    flex-grow: 1;
    background-color: #886ac3;
    border-radius: 2em;

}
.imgsHeader{
    width: 2em;
    height: 2em;
}

/* inicio */
.contenedorBienvenidos{
    flex: 1;
}
.bienvenidos{
    background-color: #f6e7f1;
    margin: 3%;
    padding: 2%;
    border-radius: 2em;
    font-family: "Gluten", cursive;
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.41);
    -webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.41);
    -moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.41);
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}
.bienvenidosTitulo{
    font-size: 3vw;
}
.bienvenidosInfo{
    display: flex;
    margin-top: 1em;
    align-items: center;
}
.bienvenidosParrafo{
    margin-left: 0.7em;
    font-size: 2vw;
    font-family: "Inter", sans-serif;
}
.fotoBienvenidos{
    max-width: 50%;
}

/*disfraces*/
.contenedorProductos{
    flex: 1;
    padding: 2em;
}
.productos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.producto{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 25%;
    padding: 1em;
    border-radius: 1em;
    margin: 2em;
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.41);
    -webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.41);
    -moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.41);
    font-family: "Inter", sans-serif;
}
.edad{
    font-family: "Inter", sans-serif;
    font-size: xx-large;
    color: rgb(188, 0, 0);
    text-decoration: underline solid 0.2vw;
    margin: 0.5vw;
}
.fotoDisfraz{
    border-radius: 1em;
    width: 85%;
    align-self: center;
    margin: 0.5em;
}
.precio{
    color: rgb(29, 141, 29);
}


/* alquileres */

.contenedorAlquiler{
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #f6e7f1;

    margin: 3%;
    padding: 2em;

    border-radius: 2em;

    box-shadow: 8px 8px 0px rgba(0,0,0,0.15);

    gap: 3em;
}

form{
    display: flex;
    flex-direction: column;
    width: 35%;
}

form label{
    font-family: "Inter", sans-serif;
    font-weight: bold;
    margin-top: 0.8em;
}

form input,
form select{
    border: none;
    border-radius: 1.5em;

    padding: 0.8em;

    margin-top: 0.3em;

    background-color: white;

    font-family: "Inter", sans-serif;
}

.politica{
    width: 40%;

    background-color: white;

    padding: 1.5em;

    border-radius: 1em;

    box-shadow: 5px 5px 0px rgba(0,0,0,0.1);

    font-family: "Inter", sans-serif;
}

.politica h2{
    margin-bottom: 0.5em;
}

.contenedorPrecio{
    display: flex;
    align-items: center;
    gap: 1.5em;
    margin-top: 2em;
}

button{
    background-color: #d988c8;

    color: white;

    border: none;

    border-radius: 2em;

    padding: 1em 2em;

    font-weight: bold;

    cursor: pointer;

    box-shadow: 4px 4px 0px rgba(0,0,0,0.15);
}

.precioFinal{
    font-family: "Inter", sans-serif;
    font-size: 1.5em;
}

.confirmarOrden{
    display: flex;
    align-items: center;
    margin-top: 1vw;
    justify-content: space-evenly;
}
/* confirmacion */

.contenedorConfirmacion{
    flex: 1;
    background-color: #f6e7f1;
    margin: 3%;
    padding: 2%;
    border-radius: 2em;
    text-align: center;

    box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.25);
}

.tituloConfirmacion{
    font-family: "Gluten", cursive;
    font-size: 3em;
    margin-bottom: 0.3em;
}

.subtituloConfirmacion{
    font-family: "Inter", sans-serif;
    font-size: 1.8em;
    margin-bottom: 1em;
}

.contenidoConfirmacion{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    flex-wrap: wrap;
}

.mapa{
    width: 400px;
    max-width: 100%;
    border-radius: 1em;
}

.infoLocal{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;

    font-family: "Inter", sans-serif;
    font-size: 1.5em;
}

.btnVolver{
    background-color: #d988c8;
    color: white;
    padding: 0.8em 2em;
    border-radius: 2em;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    transition: 0.2s;
}

.btnVolver:hover{
    transform: scale(1.05);
}